.signup-form-container {
  vertical-align: top;
  margin: 54px 0 54px 0;
  padding: 0 20px;
  .signup-form {
    width: 100%;
    margin: 0 auto;
    max-width: 650px;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    font-size: 0.9375rem;
    line-height: 1.4375rem;
  }
  label {
    font-family: Fira Sans Condensed;
    color: #5b555c;
    font-size: 0.75rem;
    margin-top: 7px;
    display: inline-block;
  }
  input, select {
    font-family: Fira Sans Condensed;
    letter-spacing: 0.03rem;
    color: #5b555c;
    width: 100%;
    display: block;
    height: 52px;
    border: 1px solid #CFCFCF;
    padding: 14px;
    &:invalid {
      box-shadow: none;
    }
    &.invalid {
      border-color: #FF0000;
    }
    &:focus {
      border-color: #17FFFF;
    }
    margin-bottom: -1px;
    position: relative;
    &.invalid {
      z-index: 1;
    }
    &:focus {
      z-index: 2;
    }
  }
  .checkbox {
    width: auto;
    display: inline;
    height: auto;
    margin-right: 5px;
  }
  select {
    &:invalid {
      color: #767676;
    }
    background: #FFFFFF;
  }
  .get-involved {
    display: none;
    &:after {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .sticky .get-involved {
      position: fixed;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  @media screen and (min-width: 992px) {
    width: 620px;
    margin: 0;
    .signup-form {
      width: 100%;
      margin: 64px auto 144px auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .signup-form {
      max-width: 500px;
    }
  }
  @media screen and (min-width: 1800px) {
    width: 645px;
  }
}
